.fsdata .disruptions {
    padding: 0.5rem;
}

.fsdata .active {
    border: 2px solid var(--color-abiliared-100);
}

.fsdata .disruptions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fsdata .disruptions li {
    display: flex;
    margin: 0.25rem;
    flex-direction: column;
}

.fsdata .disruptions .date {
    flex: 1;
}

.fsdata .disruptions .title {
    flex: 3;
}

.fsdata .disruptions a:link, a:visited {
    text-decoration: none;
    color: var(--color-darkblue-80);
}
