.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.main {
  flex-grow: 1;

  padding: 1rem;
}

.footer {
  background-color: var(--color-gray-50);
  color: var(--color-gray-0);

  padding: 1rem;
}
