.dashboard {
  height: 100%;

  display: grid;

  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 0.5rem;
}

.squid {
  position: relative;

  border-radius: 0.5rem;
  padding: 2rem 1rem 1rem;

  max-height: 100%;
  overflow: scroll;

  background: var(--color-gray-0);
}

.squid::before {
  position: absolute;
  left: 0;
  right:0;
  top: 0;

  height: 1.25rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;

  content: attr(data-name);

  background-color: var(--color-gray-60);
  border-bottom: 0.25rem solid var(--color-abiliared-100);
  color: var(--color-gray-0);
}
