.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  background-color: var(--color-abiliared-100);
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: var(--color-gray-50);
}

.header, .footer {
  color: var(--color-gray-0);
}
